<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

        <form [formGroup]="orderForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>  
          
          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <p class="lead">Seus Dados:</p>
            </div>
            <div class="col-xs-12 col-sm-3">
              <span *ngIf="orderForm.hasError('emailsNotMatch')" class="help-block pull-right has-error-block"><i class="fa fa-remove"></i>E-mails não conferem.</span>
            </div>
            <div class="col-sm-4 col-xs-12">
              <mt-input-container 
                label="Nome"
                errorMessage="Obrigatório e mínimo 5 caracteres">
                <input type="text" 
                  placeholder="Nome"
                  class="form-control" 
                  autocomplete="false" formControlName="name">
              </mt-input-container>
            </div>
            <div class="col-sm-4 col-xs-12">
              <mt-input-container 
                label="E-mail"
                errorMessage="E-mail inválido">
                <input type="text" 
                  placeholder="E-mail"
                  class="form-control" 
                  autocomplete="false" formControlName="email">
              </mt-input-container>
            </div>
            <div class="col-sm-4 col-xs-12">
              <mt-input-container 
                label="Confirmação de E-mail"
                errorMessage="E-mail não confere">
                <input type="text" 
                  placeholder="Confirmação de E-mail"
                  class="form-control" 
                  autocomplete="false" formControlName="emailConfirmation">
              </mt-input-container>
            </div>
          </div>

          <!--Endereço de Entrega-->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>

            <!--Endereço-->
            <div class="col-sm-6 col-xs-12">
              <mt-input-container 
                label="Endereço"
                errorMessage="Obrigatório e mínimo 5 caracteres">
                <input type="text" 
                  placeholder="Endereço"
                  class="form-control" 
                  autocomplete="false" formControlName="address">
              </mt-input-container>
            </div>

            <!--Número-->
            <div class="col-sm-3 col-xs-6">
              <mt-input-container 
                label="Número"
                errorMessage="Obrigatório e somente números">
                <input type="text"
                  placeholder="Número" 
                  class="form-control" 
                  autocomplete="false" formControlName="number">
              </mt-input-container>
            </div>

            <!--Complemento-->
            <div class="col-sm-3 col-xs-6">
              <mt-input-container 
                label="Complemento">
                <input type="text" 
                  placeholder="Complemento"
                  class="form-control" 
                  autocomplete="false" formControlName="optionalAddress">
              </mt-input-container>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <div class="col-xs-12 table-responsive">
              <mt-order-items 
                [items]="cartItems()"
                (increaseQty)="increaseQty($event)"
                (decreaseQty)="decreaseQty($event)"
                (removeItem)="removeItem($event)"></mt-order-items>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">
                   <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>
              <mt-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()"></mt-delivery-costs>
            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <a (click)="checkOrder(orderForm.value)" role="button" [class.btn-success]="orderForm.valid" [class.disabled]="!orderForm.valid || cartItems().length == 0" class="btn pull-right"><i class="fa fa-credit-card"></i> Concluir Pedido
            </a>
          </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->